* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
}

#title {
    text-align: center;
}

#jumbotron {
    background-color: #6a5153;
}

#title {
    font-size: 35px;
}

#favorites {
    color: white;
}